@page
@model IndexModel
@{
    ViewData["Title"] = "Primeira Pagina";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Apredendo sobre <a href="https://docs.microsoft.com/aspnet/core">Construindo apis legais</a>.</p>
</div>
